<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="row">

        <div class="col s1 m1 l1 left-align">
          <a href="javascript:history.go(-1);" class="waves-effect" title="Voltar para Estante">
            <i class="material-icons" aria-hidden="true">arrow_back</i>
          </a>
        </div>

        <div class="col s11 m11 l11 center">
          <div class="file-field input-field">
            <a href="javascript:void(0);" (click)="startSearch()" class="waves-effect waves-light btn" type="submit" name="action">
              <i id="closeIcon" class="material-icons" aria-hidden="true">search</i>
            </a>
            <a href="javascript:void(0);" (click)="stopSearch()" class="waves-effect waves-light btn" type="submit" name="action">
              <i id="closeIcon" class="material-icons" aria-hidden="true">close</i>
            </a>
            <div class="file-path-wrapper">
              <input id="EpubSearchInput" type="search" name="qEpub" class="validate" required aria-label="Pesquisa">
              <label for="EpubSearchInput" style="color:white; font-style: italic;">Toque e faça a sua pesquisa...</label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>


<div class="row">
  <div class="col s12 m12 l12" id="EpubSearchCards">
    <h6 class="card-label">
      <strong>Capítulo 1</strong>
    </h6>
    <div class="card">
      <div class="card-content">
        <span class="right">10</span>
        <span class="card-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in purus orci. Nullam varius placerat metus
        </span>
      </div>
      <div class="divider"></div>
      <div class="card-content">
        <span class="right">12</span>
        <span class="card-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in purus orci. Nullam varius placerat metus
        </span>
      </div>
    </div>
    <h6 class="card-label">
      <strong>Capítulo 2</strong>
    </h6>
    <div class="card">
      <div class="card-content">
        <span class="right">30</span>
        <span class="card-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in purus orci. Nullam varius placerat metus
        </span>
      </div>
    </div>

  </div>
</div>



<footer class="page-footer light-blue lighten-1 EpubSearchFooter">

  <div class="container flow-text">

    <div class="row">

      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <i class="large material-icons" aria-hidden="true">check</i>
      <i class="large material-icons" aria-true="true">close</i>

    </div>

  </div>

</footer>
