.login-container {
    display: table;
    width:100%;
    height: 100%;
    background-color: gray !important;
    opacity: 10;
}

.login-form-div {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.login-form-div form {
    background-color:white;
    border:1px solid gainsboro;
    padding:2%;
    width: 88%;
    margin:auto;
    box-shadow: 2px 2px 5px black;
}

.login-form-div form input {
  text-transform: lowercase;
}

.label-switch {
    color:gray;
    font-size:14px;
}

.item-logo {
    text-align: center;
}