<li *ngFor="let menu of menuList">
  <a routerLink="{{menu.url}}" class="waves-effect" title="{{ menu.display }}">
    <i class="material-icons" aria-hidden="true">{{menu.icon}}</i>
    {{menu.display}}
  </a>
</li>
