<div class="container modal modal-fixed-footer" [id]="id" #mContainer>
    <div class="modal-content">
        <video src="" class="media-video" width="420" height="300" #vContainer controls>
            <track kind="subtitles" src="" class="subtitle" #subContainer default>
        </video>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat" title="Fechar Vídeo" id="closeModal" (click)="closeVideo()">
            Fechar
        </a>
    </div>
</div>
