.media-container {
    width: 100% !important;
    height: 96% !important;
    z-index: 999;
    background: #000;
}
video {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 96%;
}
video::cue {
    background: #000;
}
