.canvas-modal {
  width: 300px;
  height: 220px;
}

p {
  margin-right: 20px;
  width: 78px;
  color: black;
  font-weight: bold;
  font-size: 105%;
}

p, div {
  float: left;
}

.active {
  border: 2px solid #000000;
}

.colors {
  width: 100%;
}

.colors div {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin: 0.7rem 1rem 0 0;
}

.thickness {
  width: 100%;
}

.thickness div {
  background-color: #999999;
  margin: 10% 11% 0 0;
}

.smaller {
  width: 20px;
  height: 2px;
}

.normal {
  width: 20px;
  height: 4px;
  margin-top: 10% !important;

}

.large{
  width: 20px;
  height: 6px;
  margin-top: 9.5% !important;
}
