<div id="{{ id }}" class="canvas-modal modal modal-fixed-footer">

  <div class="modal-content">
    <div class="colors">
      <p class="right-align">Cor</p>
      <div data-config="#ff0000" class="red active">
      </div>
      <div data-config="#0000ff" class="blue">
      </div>
      <div data-config="#008000" class="green">
      </div>
    </div>
    <div class="thickness">
      <p class="right-align">Espessura</p>
      <div data-config="small" class="smaller">
      </div>
      <div data-config="normal" class="normal active">
      </div>
      <div data-config="large" class="large">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" (click)="apply()" class="modal-action modal-close waves-effect waves-green btn-flat">
      Aplicar
    </a>
  </div>
</div>
