#epub-wrap {
  /*overflow: hidden !important;*/
  position: relative !important;
  -webkit-overflow-scrolling:touch;
  overflow: auto;
  height: 100% !important;
  width: 100% !important;
}
iframe::-webkit-scrollbar {
  display: none !important;
}
