#Textcharacteristics > .modal-content {
  padding-bottom: 1px;
}

#Textcharacteristics .modal-title {
  font-size: 19px;
  margin-left: 13px;
  font-weight: bold;
}

#Textcharacteristics .input-field label {
  font-size: 12px;
  font-weight: bold;
}

#Textcharacteristics .selectdropdown {
  margin-bottom: 1px;
}

#Textcharacteristics option {
  color: black;
}

.modal-fixed-header {
  padding: 0;
  height: 70%;
}

.modal-content-fixed-header {
  padding: 24px;
  position: absolute;
  top: 56px;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

/* ::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
/*background: transparent;
  /* optional: just make scrollbar invisible */
/*}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {
  background: #ff0000;
} */
