<div id="{{ id }}" class="container modal">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="modal-title"> {{ title }} </span>
        <ul class="right">
          <li><a href="javascript:void(0);" class="modal-action modal-close" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="modal-content">
    <div class="row">

      <div class="col s12 m12">

          <div class="col s2">
            <i class="material-icons" aria-hidden="true">picture_in_picture</i>
          </div>

          <div class="col s10">
            <a href="javascript:void(0);" class="black-text">Cortina</a>
          </div>

      </div>

      <div class="col s12 m12">

          <div class="col s2">
            <i class="material-icons" aria-hidden="true">brush</i>
          </div>

          <div class="col s10">
            <a href="javascript:void(0);" class="black-text">Anotações</a>
          </div>

      </div>

    </div>
  </div>

</div>
