<div [id]="id" class="container modal modal-fixed-footer " role="dialog">

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
        <span class="modal-title" [attr.aria-label]="title">
          <a href="javascript:void(0)" class="modal-title-link" aria-hidden="true">{{ title }}</a></span>
                <ul class="right">
                    <li>
                        <a href="javascript:void(0);" class="modal-action modal-close" aria-label="fechar">
                            <i class="material-icons" aria-hidden="true">close</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="modal-content">

        <div class="row">
            <div class="col s3"><img class="responsive-img" src="{{ getBookCover(book) }}"
                                     onError="this.src='assets/images/default.png';"></div>
            <div class="col s9"><h6 class="valign-wrapper">{{ book.book_title }}</h6></div>
        </div>

        <div class="row">
            <div class="col s12 title">Autor(es)</div>
            <div class="col s12">{{ book.book_author }}</div>
        </div>

        <div class="row">
            <div class="col s12 title">Disciplina</div>
            <div class="col s12">{{ book.book_discipline }}</div>
        </div>

        <!-- <div class="row">
          <div class="col s12 title">Data de Expiração</div>
          <div class="col s12">{{ book.book_expiration_date }}</div>
        </div> -->

        <div class="row">
            <div class="col s12 title">Instalações Disponíveis</div>
            <div class="col s12">{{ book.book_available_installations }}</div>
        </div>

        <div class="row">
            <div class="col s12 title">Lista de Dispositivos</div>
            <div class="col s12">{{ book.book_installed_devices }}</div>
        </div>

        <div class="row">
            <div class="col s12 title">ID da obra</div>
            <div class="col s12">{{ book.book_led_id }} - {{ book.last_version }} - {{ book.book_publisher_id }}</div>
        </div>

    </div>
    <div class="modal-footer" *ngIf="(bookStatus && bookStatus === 'baixado')">
        <a aria-label="Desinstalar obra" href="javascript:void(0)"
           class="waves-effect waves-light small btn-flat red grey-text text-lighten-5" (click)="uninstallBook()">
            <i class="material-icons" aria-hidden="true">delete_forever</i>
        </a>
    </div>
</div>
