<div class="navbar-fixed" id="legacyActionBarCanvas">
  <nav>
    <div class="nav-wrapper">
      <div class="row">

        <div class="col s12 m12 right-align">
          <a href="javascript:void(0);" (click)="closeCanvas()" class="waves-effect" title="Voltar para Livro">
            <i class="material-icons" aria-hidden="true">clear</i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
