<app-shelf-sidenav-component></app-shelf-sidenav-component>
<app-shelf-navbar-component></app-shelf-navbar-component>
<div data-role="books" class="section" [id]="wrapperDivId">
    <div [id]="scrollableDivId">
        <div class="row">
            <div *ngIf="!bookList.length" class="card">
                <div class="card-stacked">
                    <div class="card-content col s8 m8 l8">
                        <span class="card-title">
                            NÃO HÁ LIVROS DISPONIVEIS
                        </span>
                    </div>
                </div>
            </div>

            <div *ngFor="let book of bookList; index as i;" class="col s12 m6 l3">
                <app-book-shelf-template [book]="book" [bookStatus]="bookStatus[book.book_led_id]" [progress]="progress[book.book_led_id]"
                    [bookUpgreadable]="bookUpgradeable[book.book_led_id]" [bookExpired]="isBookAuthorized(book.book_status)">
                </app-book-shelf-template>
            </div>

        </div>
    </div>
</div>
<app-book-info></app-book-info>
<app-shelf-toolbar-component></app-shelf-toolbar-component>
