/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100% !important;
  min-height: 100% !important;
  overflow: auto;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('icons.woff2') format('woff2'),
  url('MaterialIcons-Regular.woff') format('woff'),
  url('MaterialIcons-Regular.ttf') format('truetype');
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* Default fonts definition */
.title {
  font-size: 12px;
  font-weight: bold;
  color: #777;
}

.description {
  font-size: 10.5px;
  color: #999;
}
/****************************/

.btn {
  background-color: #29b6f6;
}

.btn:hover {
  background-color: #29b6f6;
}

nav {
  background-color: #29b6f6;
}

nav .modal-title {
  padding: 0 0 0 10px;
  font-size: 1.5rem;
}

nav ul li .modal-close {
  font-size: 1.5rem;
}

.break-line {
  border-bottom: 1px solid gainsboro;
  padding: 2%;
}

.modal { width: 70% !important; }

.modal .navbar-fixed {
  height: 56px;
  line-height: 56px;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

* {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

.toast-login {
  margin-top: 0 !important;
}
#login-loader {
  position: relative;
  top: 3px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Materialize 5 Column Responsive Layout */
.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5ths {
  width: 20%;
}

@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}

.scrollable {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
