<div class="navbar-fixed" [hidden]="tapped"  id="epubActionbarReader" [attr.aria-hidden]="aria">
  <nav>
    <div class="nav-wrapper">
      <div class="row">

        <div class="col s2 left-align">
          <a href="javascript:void(0);" (click)="goToShelf()" class="waves-effect" title="Voltar para Estante" [attr.aria-hidden]="aria">
            <i class="material-icons" aria-hidden="true">arrow_back</i>
          </a>
        </div>

        <!-- <div class="col s10 m11 center-align truncate"> -->
        <!-- {{ bookTitle }} -->
        <!-- <small>Educação gameal</small> -->
        <!-- </div> -->

        <div class="col s7 push-s5 right-align">
          <div class="col s3 center">
            <!--<a href="javascript:void(0);" (click)="goToEpubTextsearch()" aria-label="Pesquisar" [attr.aria-hidden]="aria">-->
              <!--<i class="material-icons" aria-hidden="true">search</i>-->
            <!--</a>-->
          </div>
          <div class="col s3 center">
            <!--<a href="javascript:void(0);" (click)='openTextcharacteristics()' aria-label="Aparência" [attr.aria-hidden]="aria">-->
              <!--<i class="material-icons"  aria-hidden="true">format_size</i>-->
            <!--</a>-->
          </div>
          <!-- Dropdown Trigger -->
          <div class="col s3 center">
            <!--<app-e-pub-actionbar-dropdown></app-e-pub-actionbar-dropdown>-->
            <a href="javascript:void(0);" (click)='openTextcharacteristics()' aria-label="Aparência" [attr.aria-hidden]="aria">
            <i class="material-icons"  aria-hidden="true">format_size</i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>
<app-e-pub-textformat></app-e-pub-textformat>
