<div id="{{ id }}" class="container modal">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="modal-title"> {{ title }} </span>
        <ul class="right">
          <li><a href="javascript:void(0);" class="modal-action modal-close" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="modal-content">
    <div class="row">

      <div class="col s4">
        <span class="title">Página:</span>
      </div>
      <form (submit)='changePage()'>

        <div class="col s5">
          <div class="input-field inline">
            <input type="text" (keyup)="isValid($event)"  name="page" id="paginationInputNumber" #paginationInputNumber>
          </div>
        </div>

        <div class="col s3">
          <a class="waves-effect waves-teal modal-close" href='javascript:void(0)' (click)='changePage()'>
              <i class="material-icons right" aria-hidden="true">send</i>
            </a>
        </div>

      </form>

    </div>
  </div>

</div>
