<div id="{{ id }}" class="modal modal-fixed-footer">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="modal-title">
          {{ title }}
        </span>
        <ul class="right">
          <li>
            <a href="javascript:void(0); " class="modal-action modal-close" (click)="resetLimitSettings()">
                <i class="material-icons" aria-hidden="true">close</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="rangeRadios modal-content">

    <div class="col s12 m12">
      <p class="">
        Indique a estratégia de uso de espaço de armazenamento que você deseja:
      </p>
    </div>
    <div class="col s12 m12">
      <input name="group1" type="radio" id="noLimit" [checked]="isLimitlessChecked" />
      <label for="noLimit" class="">Sem limite</label>
      <p style="margin-bottom: 32px;" id="marginBeforeRange">As obras baixadas poderão ocupar todo o espaço de armazenamento disponível.
      </p>
    </div>
    <div class="col s12 m12">
      <input name="group1" type="radio" id="yesLimit" [checked]="isLimitChecked" />
      <label for="yesLimit" class="">Limitada</label>
    </div>
    <div class="col s12 m12">
      <p class="">Limita o espaço ocupado das obras baixadas ao valor informado.
      </p>
    </div>

    <div id="inputSpaceWrap" style="display: none;">
      <div class="col s4 m4">
        <input id="inputSpace" type="number" min="{{minSpace}}" value="{{space}}">
      </div>
      <div class="col s4 m4">
        <p>MB</p>
      </div>
      <div class="col s4 m4">
        <p>(mínimo {{minSpace}} MB)</p>
      </div>
    </div>

    <div id="buttonChangeLimitWrap" class="col s12 center" style="display: none;">
      <a class="waves-effect btn center-align" (click)="changeLimit()">Ok</a>
    </div>

  </div>
</div>
