.modal {
    width: 90%;
    max-width: 600px;
}

.modal .modal-title {
    font-size: 100%;
}

.modal-content {
    padding: 0;
}

.modal-content .collection {
    margin-top: 0;
}

.collection-item {
    padding-left: 10px;
}

.collection-item a {
    color: #000;
}

.collection .collection-item {
    border-bottom: 0;
}

.collection .collection-item.parent {
    border-bottom: 1px solid #e0e0e0;
}

.tabs .tab a, .tabs .tab a.active {
  color: #039be5;
}

.tabs .tab a {
  padding: 6px 12px;
}


