<div id="{{ id }}" class="container modal modal-fixed-footer">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="modal-title"> {{ title }} </span>
        <ul class="right">
          <li><a href="javascript:void(0);" class="modal-action modal-close" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="modal-content">

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test1">Sumário</a></li>
          <li class="tab col s3"><a href="#test2">Objetos</a></li>
          <li class="tab col s3"><a href="#test3">Notas</a></li>
          <li class="tab col s3"><a href="#test4">Marcações</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <ul class="collection">

          <li *ngIf="summaryWay.length != 0" class="collection-item row parent">

            <div class="col s1 m1">
              <a href="javascript:void(0)" (click)="changeSumario('sub')">
                <i class="material-icons" aria-hidden="true">chevron_left</i>
              </a>
            </div>

            <div class="col s11 m11">
              <span class="truncate">{{ formatSummaryText(summaryShow.chapter_name) }}</span>
            </div>

          </li>

          <li *ngFor="let summaryItem of summaryShow.children; index as i;" class="collection-item row">

            <div class="col s11 m11">
              <a href="javascript:void(0)" (click)="changePage(summaryItem.chapter_first_page_id)"><span class="truncate">{{ formatSummaryText(summaryItem.chapter_name) }}</span></a>
            </div>

            <div *ngIf="summaryItem.children" class="col s1 m1">
              <a href="javascript:void(0)" (click)="changeSumario('add', i)">
                <i class="material-icons">chevron_right</i>
              </a>
            </div>

          </li>

        </ul>
      </div>
      <div id="test2" class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
        <li *ngFor="let oedTypeIndex of oedTypesListed">
          <div class="collapsible-header">
            {{oedTypeIndex}}
          </div>
          <ul class="collapsible-body collection">
            <li *ngFor="let oedItem of oedGrouped[oedTypeIndex]; let i = index" class="collection-item row">
             <!--{{oedItem[i]}}-->
              <div class="col s11 m11">
                <a  href="javascript:void(0);" (click)="changePageToOED(oedItem)">{{oedItem.name}}</a>
              </div>
            </li>
          </ul>
        </li>
        </ul>
      </div>
      <div id="test3" class="col s12">
        <ul class="collection">

          <li *ngFor="let hotspot of hotspotList" class="collection-item row">

            <div class="col s11 m11">
              <a href="javascript:void(0)" (click)="changePage(hotspot.pageId)"><span class="truncate">{{ hotspot.description }}</span></a>
            </div>

            <div class="col s1 m1">
              <a>
                <i class="material-icons">chevron_right</i>
              </a>
            </div>

          </li>
        </ul>
      </div>
      <div id="test4" class="col s12">
          <ul class="collection">
            <li *ngFor="let page of bookMarks">
                <div class="col s11 m11">
                    <a href="javascript:void(0)" (click)="changePage(page)"><span class="truncate">Página {{ page }}</span></a>
                </div>

                <div class="col s1 m1">
                    <a>
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
            </li>
          </ul>
      </div>
    </div>

  </div>

</div>
