<div id="{{ id }}" class="modal">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="modal-title">{{ title }}</span>
        <ul class="right">
          <li><a href="javascript:void(0);" class="modal-action modal-close" >X</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="modal-content">
    <div class="collection">
      <a href="javascript:void(0);" class="collection-item modal-close" (click)="chooseOrder(item.value)" *ngFor="let item of orderList">{{ item.display }}</a>
    </div>
  </div>
</div>