<div class="navbar-fixed" [hidden]="hiddenNavbar" [attr.aria-hidden]="aria">
  <nav>
    <div class="nav-wrapper">

      <!-- <ul class="right hide-on-med-and-down">
        <app-component-menu></app-component-menu>
      </ul> -->

      <div class="row">

        <div class="col s2 m1 left-align">
          <a href="javascript:void(0);" data-activates="slide-out" class="button-collapse left-align show-on-large">
            <i class="material-icons">menu</i>
          </a>
        </div>

        <div class="col s8 m10 input-field center-align">
          <app-shelf-searchbar-component></app-shelf-searchbar-component>
        </div>

        <!-- Dropdown Trigger -->
        <div class="col s2 m1 center-align">
          <app-shelf-dropdown></app-shelf-dropdown>
        </div>

        <!-- <div class="col s1 m1">
          <i class="material-icons" aria-hidden="true">search</i>
        </div> -->
      </div>

    </div>
  </nav>
</div>
<app-shelf-management-space></app-shelf-management-space>
