<app-actionbar-reader [hidden]="isScribble"></app-actionbar-reader>

<app-actionbar-canvas [hidden]="!isScribble"></app-actionbar-canvas>

<!-- <a href="javascript:void(0)"
    *ngIf="isAnnotationCountVisible"
    (click)="openExternalAnnotationOnTopic()"
    class="btn-floating btn waves-effect waves-light light-blue annotations">
    {{ externalNotesCount }}
</a> -->

<app-legacy-book-slider></app-legacy-book-slider>

<app-toolbar-reader [hidden]="isScribble"></app-toolbar-reader>

<app-toolbar-canvas [hidden]="!isScribble"></app-toolbar-canvas>
