.modal {
    width:70% !important;
    height: 12em !important;
}
@media all and (orientation: portrait) {
    .modal {
        top: 37vh !important;
    }
}
@media all and (orientation: landscape) {
    .modal {
        top: 27vh !important;
    }
}
#rabisco {
  margin-bottom: 10px;
}
#open-cortina {
  position:relative;
  top:-25px;
}
.label > img {
  margin-right: 10px;
}
.label > span {
  font-size: 14px;
}
