<div id="{{ id }}" class="container modal modal-fixed-footer modal-resize-rabisco">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="modal-title"> {{ title }} </span>
        <ul class="right">
          <li><a href="javascript:void(0);" class="modal-action modal-close" aria-label="Fechar">
              <i class="material-icons" aria-hidden="true">close</i>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="modal-content">
    <div id="cortina">
      <div class="label">
        <img src="assets/images/courtain.png" alt="Icone de cortina" class="left">
        <span class="left"><strong>Cortina</strong></span>
        <div class="clearfix"></div>
      </div>
      <div id="open-cortina" class="right">
        <div class="switch">
          <label><input type="checkbox" id="lever" (click)="slideLever()">
            <span class="lever"></span></label>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="rabisco" (click)="openScribble()">
      <div class="label">
      <img src="assets/images/pencil.png" alt="Icone de rabisco" class="left" width="24" height="24">
      <span class="left"><strong>Rabisco</strong></span>
      <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
