#pageTlayer {
  height: 100%;
}

@media all and (orientation: portrait)
{
  #page-slider #page
  {
    width: 100%;
    position: relative;
    top:0;
  }

  #page-slider {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    z-index: 1;
  }

  #pageTlayer {
    position: absolute;
    top:0;
    left: 0;
  }

  .markerContainer {
    position: absolute;
    top: 0;
    right: 11%;
    width: 8%;
  }

}

@media all and (orientation: landscape)  {
  #page-slider img {
    width: 100%;
    overflow: scroll;
  }

  #page-slider {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    z-index: 1;
  }

  #pageTlayer {
    position: absolute;
    top: 0;
    left: 0;
  }

  .markerContainer {
    position: absolute;
    top: 0;
    right: 11%;
    width: 8%;
  }

}

.imageContainer {
  position: relative;
}

app-canvas-settings {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
