<div id='page-slider'>
  <div class="fakeloader" [hidden]=true></div>
    <app-scribble *ngIf="isScribble"></app-scribble>
  <div class="imageContainer">
    <img [src]='pageImage' width="100%" id='page' alt="pagina">
    <img [src]='pageTeacherImage' [hidden]=true width="100%" height="{{pageTeacherImageHeight}}" id='pageTlayer'
         alt="ImagemCamada">
    <app-legacy-hotspot-container></app-legacy-hotspot-container>
    <div class='markerContainer'>
      <app-page-marker></app-page-marker>
    </div>
  </div>
  <app-audio-player></app-audio-player>
</div>
<app-resize></app-resize>
<app-media></app-media>

