@media all and (orientation: portrait)
{
  #Textcharacteristics {
    height: 400px;
  }

}

@media all and (orientation: landscape)  {
  #Textcharacteristics {
    height: 70%;
  }

}

.fontButtons ul {
  margin-top: -24px;
}

.fontButtons a {
  margin-left: 10px;
}

#Textcharacteristics form div:nth-child(2) {
  margin-top: 20px;
}

#Textcharacteristics > .modal-content {
  padding-bottom: 1px;
}

#Textcharacteristics .modal-title {
  font-size: 18px;
  margin-left: 13px;
  font-weight: bold;
}

#Textcharacteristics .input-field label {
  font-size: 36px;
  font-weight: bold;
}

#Textcharacteristics label {
  font-size: 14px;
}

#Textcharacteristics .selectdropdown {
  margin-bottom: 1px;
}

#Textcharacteristics option {
  color: black;
}

.modal-fixed-header {
  padding: 0;
  height: 70%;
}

.modal-content-fixed-header {
  padding: 24px;
  position: absolute;
  top: 56px;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}
