<div id="{{ id }}" class="container modal modal-fixed-header">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="modal-title" [attr.aria-label]="title">
          <a href="javascript:void(0)" class="modal-title-link" aria-hidden="true">
          {{ title }}
          </a>
        </span>
        <ul class="right">
          <li>
            <a href="javascript:void(0); " class="modal-action modal-close" aria-label="Fechar">
              <i class="material-icons" aria-hidden="true">close</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="modal-content modal-content-fixed-header ">
    <div class="row">
        <div class="fontButtons col s12">
          <label>Tamanho da fonte</label>
          <ul role="tree" aria-activedescendant="increment">
            <li role="treeitem">
              <a role="presentation" href="javascript:void(0);" id='increment' (click)="increment() " class="right btn-floating blue waves-effect" aria-label="Aumentar tamanho da fonte">
                <i class="material-icons" aria-hidden="true">add</i>
              </a>
            </li>
            <li role="treeitem">
              <a role="presentation" href="javascript:void(0);" id='reset' (click)="reset()" class="right btn-floating blue waves-effect" aria-label="Tamanho original da fonte">
                <i class="material-icons" aria-hidden="true">restore</i>
              </a>
            </li>
            <li role="treeitem">
              <a role="presentation" href="javascript:void(0); " id='decrement' (click)="decrement()" class="right btn-floating blue waves-effect" aria-label="Diminuir tamanho da fonte">
                <i class="material-icons" aria-hidden="true">remove</i>
              </a>
            </li>
          </ul>
        </div>
        <form #accessibleForm novalidate>
          <div class="col s12">
            <label>Família da fonte</label>
            <select class='center' #selectedFontFamily name="selectedFontFamily">
              <option *ngFor="let fontFamily of fontFamilies" [value]="fontFamily | json">
                {{ fontFamily.label }}
              </option>
            </select>
          </div>
          <div class="col s12">
            <label>Tema</label>
            <select class="center" #selectedTheme name="selectedTheme" id="selectedTheme">
              <option *ngFor="let theme of themes" [value]='theme | json' [selected]="theme.label==='Padrão'">
                {{ theme.label }}
              </option>
            </select>
          </div>
          <div class="col s12 center-align">
            <button class="btn waves-effect" type="button" (click)="submit(selectedFontFamily.value, selectedTheme.value)">Aplicar</button>
          </div>
        </form>
    </div>
  </div>
