<div class="navbar-fixed" id="legacyActionBar" #legacyActionBar>
  <nav>
    <div class="nav-wrapper">
      <div class="row">

        <div class="col s2 m1 left-align">
          <a href="javascript:void(0);" (click)="goBack()" class="waves-effect" id="goBack" title="Voltar para Estante">
            <i class="material-icons" aria-hidden="true">arrow_back_ios</i>
          </a>
        </div>
        <div class="col s7 m9 center-align truncate">
          <div id="bookTitle">
            {{ bookTitle }}
          </div>
          <div class="input-field" aria-hidden="true" id="searchField">
            <input type="text" name="search" [attr.aria-hidden]="aria" class="validate" id="inputSearchField" placeholder="Toque para pesquisar..." (keydown)="emptyInput()" >
          </div>
        </div>
        <div class="col s3 m2 right-align">
          <app-legacy-search></app-legacy-search>
          <!--<div class="col s6 m2 right-align"><a href="javascript:void(0);"><i class="material-icons">more_vert</i></a>-->
        </div>
      </div>
    </div>
  </nav>
</div>
