<div id="{{ id }}" class="modal modal-fixed-footer">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="modal-title">{{ title }}</span>
        <ul class="right">
          <li>
            <a href="javascript:void(0);" class="modal-action modal-close" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="modal-content">
    <ul class="collection with-header">
      <li class="collection-item" *ngFor="let filterData of filterList">
        <input type="checkbox" id="{{ filterData }}" (click)='chooseFilters(filterData, $event)' />
        <label for="{{ filterData }}">{{ filterData.length === 1 ? 'Disciplina não cadastrada' : filterData }}</label>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="submit()">Filtrar</a>
    <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="resetCheckboxies()">Cancelar</a>
  </div>
</div>
