<div id="viewport" [hidden]="true" #courtainContainer>
  <div id="resizable" #courtain>
    <div id="edge-top" class="common-edges horizontal" #edgeTop></div>
    <div id="edge-left" class="common-edges vertical" #edgeLeft></div>
    <div id="edge-bottom" class="common-edges horizontal" #edgeBottom></div>
    <div id="edge-right" class="common-edges vertical" #edgeRight></div>
    <div id="edge-se" class="common-edges edge" #edgeSe></div>
    <div id="edge-ne" class="common-edges edge" #edgeNe></div>
    <div id="edge-nw" class="common-edges edge" #edgeNw></div>
    <div id="edge-sw" class="common-edges edge" #edgeSw></div>
    <i class="material-icons" id="close" #close>close</i>
  </div>
</div>
