
.common-edges {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 10px;
}
.horizontal {
  background: url('./assets/hsizegrip.png') no-repeat;
}
.vertical {
  background: url('./assets/vsizegrip.png') no-repeat;
}

.edge {
  background: url('./assets/wingrip.png') no-repeat;
}
#viewport {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-overflow-scrolling: touch !important;
}
#resizable {
  min-width: 200px;
  min-height:130px;
  width: 100%;
  height: 88%;
  position: fixed;
  background: #87CEEB;
  z-index: 998;
  -webkit-overflow-scrolling: touch !important;
}
#edge-top {
  top: 0;
  right: 50%;
  cursor: ns-resize;
}
#edge-left {
  left: 0;
  top: 40%;
  height:200px;
  cursor: ew-resize;
}
#edge-bottom {
  bottom: 0;
  right: 50%;
  cursor: ns-resize;
}
#edge-right {
  top: 40%;
  right: 0;
  height:200px;
  cursor: ew-resize;

}
#edge-se {
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}
#edge-sw {
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(95deg);
  cursor: nesw-resize;
}
#edge-ne {
  top: 0;
  right: 0;
  -webkit-transform: rotate(-95deg);
  cursor: nesw-resize;

}
#edge-nw {
  top: 0;
  left: 0;
  -webkit-transform: rotate(170deg);
  cursor: nwse-resize;
}
#close {
  position: absolute;
  bottom: 50%;
  right: 50%;
  border:1px solid black;
  border-radius: 16px;
  cursor: pointer;

}


