<div class="card">
    <div class="card-stacked">
        <div class="card-content col s8 m8 l8">
            <p class="max-lines">
                <a href="javascript:void(0)" class="title" (click)="chooseWhatToDo(book)" id="book-{{book.book_led_id}}" [innerHtml]="book.book_title"></a>
            </p>
            <small class="description">{{ book.book_discipline }}</small>
        </div>
        <div class="card-image col s4 m4 l4">
            <div class="center-align float">
                <img alt="Capa" src='assets/ajax-loader.gif' class="book-loader disabled-img" aria-label="Capa" #loadCover *ngIf="showLoader()"
                    id="book-load-{{book.book_led_id}}">
                <a href="javascript:void(0)" id="book-{{!bookStatus ? book.book_led_id : book.id}}" (click)="chooseWhatToDo(book)" #coverLink>
                    <img alt="Capa" src='{{getBookUrl()}}' class="responsive-img" aria-label="Capa" (error)="errorHandler($event, book.book_led_id)"
                        id="book-cover-{{book.book_led_id}}" #cover>
                </a>
            </div>
            <div class="progress" id="{{ book.book_led_id }}" *ngIf="bookStatus === 'baixando'" aria-label="Carregando">
                <div class="determinate" [style.width]="progress ? progress + '%' : ''"></div>
            </div>
        </div>
    </div>
    <div class="card-action">
        <a class="info btn" href="javascript:void(0)" (click)="openBookInfo()" aria-label="Informações da obra">
            <i class="material-icons" aria-hidden="true">info</i>
        </a>
        <a *ngIf="isDownloadable()" class="right cloud btn open-book" href="javascript:void(0)" (click)="chooseWhatToDo(book)">
            <i class="material-icons" aria-label="Baixar">cloud_download</i>
        </a>
        <a *ngIf="bookUpgreadable" class="right cloud btn open-book" href="javascript:void(0)">
            <span class="badge" [innerHtml]="'ATUALIZÁVEL'"></span>
        </a>
        <a *ngIf="bookExpired === false" class="right cloud btn open-book" href="javascript:void(0)">
            <span class="badge" [innerHtml]="'Indisponível'"></span>
        </a>
        <div class="clearfix"></div>
    </div>
</div>
