.progress-component {
    display: table !important;
    width:100% !important;
    height: 100% !important;
    min-height: 360px !important;
}

.progress-body {
    display: table-cell !important;
    vertical-align: middle !important;
}