<div class='progress-component' *ngIf='isVisible && preloader === "default"'>

  <div class='progress-body'>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
  </div>

</div>

<div *ngIf='preloader === "mini"' [hidden]='!isVisible'>
  <img src='assets/ajax-loader.gif'>
</div>
